- provide(:title, "Home")

.row
  .medium-6.columns
    = image_tag("improvement_rocket.png")
    .row.small-up-4
      .column
        %img.thumbnail{:src => "http://placehold.it/250x200"}/
      .column
        %img.thumbnail{:src => "http://placehold.it/250x200"}/
      .column
        %img.thumbnail{:src => "http://placehold.it/250x200"}/
      .column
        %img.thumbnail{:src => "http://placehold.it/250x200"}/
  .medium-6.large-5.columns
    %h3 My Awesome Product
    %p Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.
    %label
      Company Size
      %select
        %option{:value => "husker"} Small
        %option{:value => "starbuck"} Medium
        %option{:value => "hotdog"} Large
        %option{:value => "apollo"} Yeti
    .row
      .small-3.columns
        %label.middle{:for => "middle-label"} Quantity
      .small-9.columns
        %input#middle-label{:placeholder => "One fish two fish", :type => "text"}/
    %a.button.large.expanded{:href => "#"} Contact
    .small.secondary.expanded.button-group
      %a.button Facebook
      %a.button Twitter
      %a.button Yo