.container
  .row
    .col-md-8
      = image_tag('ruby.svg', class: 'img-responsive')
    .col-md-4
      %h1 Build your bussiness with Ruby. 
      %p This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
      %a.btn.btn-primary.btn-lg{:href => "#"} Call to Action!
  .row
    .col-md-4
      %h2 Mowerman
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
      %a.btn.btn-default{:href => "#"} Github
    .col-md-4
      %h2 KaizenStorm
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
      %a.btn.btn-default{:href => "#"} Github
    .col-md-4
      %h2 QRquick
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.
      %a.btn.btn-default{:href => "#"} Github
  %hr/
