.container.text-center
  .well.well-lg
    .row
      .col-lg-12
        %ul.nav.nav-pills.nav-justified
          %li
            %a{:href => "/"} © 2017 AWS-Development
          %li
            %a{:href => "#"} Terms of Service
          %li
            %a{:href => "#"} Privacy