.top-bar
  .row
    .top-bar-left
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        %li.menu-text KaizenStorm II
        %li.has-submenu
          %a{:href => "#"} Learn
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            %li
              %a{:href => "#"} One
            %li
              %a{:href => "#"} Two
            %li
              %a{:href => "#"} Three
        %li
          %a{:href => "#"} Demo
        %li
          %a{:href => "#"} Development
    .top-bar-right
      %ul.menu
        %li
          %input{:placeholder => "Search", :type => "search"}/
        %li
          %button.button{:type => "button"} Search
%br